.formulario form {
  width: 300px;
}

.formulario label {
  align-self: flex-start;
  color: #999;
}

.formulario input {
  border-bottom: 1px solid #999;
  border-radius: 0px;
  color: #333;
  font-family: 'Montserrat';
  font-size: 16px;
  margin-bottom: 30px;
  padding: 5px;
  text-indent: 5px;
  transition: all .2 ease;
  width: 100%;
  -webkit-appearance: none;
}

.formulario textarea {
  border: 1px solid #999;
  border-radius: 2px;
  color: #333;
  font-family: 'Montserrat';
  font-size: 16px;
  margin-bottom: 30px;
  margin-top: 10px;
  min-height: 120px;
  padding: 4px 8px;
  resize: none;
  width: 100%;
  -webkit-appearance: none;
}

.formulario input:focus {
  box-shadow: 5px 0 0 0#fff,
              -5px 0 0 0#fff,
              0 -5px 0 0#fff,
              0 0 5px #4cdef5;
}

.formulario textarea:focus {
  box-shadow: 0 0 3px #4cdef5;
  outline: none;
}

.formulario .btn {
  background-color: transparent;
  display: block;
  height: 28px; /*To avoid jumping when hovering*/
  margin: 0 auto;
}

.formulario small {
  color: #999;
  display: block;
  font-size: 12px;
  margin-top: -30px;
  opacity: 0;
  transition: opacity .3s ease;
}

.formulario input:focus:not(:valid) + small,
.formulario textarea:focus:not(:valid) + small {
  opacity: .5;
}

@media only screen and (min-width: 768px) {
	.formulario form {
    width: 620px;
  }

.formulario textarea:focus:not(:valid) + small {
  opacity: 1;
}

}