.secao {
	align-items: center;
	position: relative;
}

.secao::after {
	background: rgba(0, 0, 0, .1);
	bottom: 0px;
	box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, );
	content: "";
	/* display: block; */
	height: 1px;
	position: absolute;
	top: bottom;
	width: 100%;
	/* z-index: 1;*/
}

.secao img {
	margin-bottom: 60px;
}

.secao h3 {
	font-family: 'Gotu', sans-serif;
	font-size: 24px;
	margin-bottom: 10px;
	text-transform: uppercase;
}

.secao p {
	font-size: 18px;
	margin-bottom: 30px;
	min-height: 55px;
	text-align: center;
}

.secao .btn {
	color: #4cdef5;
	font-family: 'Montserrat';
	font-size: 18px;
	height: 27px;
	padding: 0 20px;
	text-align: center;
	text-shadow: 1px 1px 6px rgba(164, 213, 85, .5);
}