.blog {
  background-color: rgba(255, 238, 255, .5);
  min-height: calc(100vh - 172px);
}

.blog a {
  color: #333;
  display: block;
}

.blog .tags {
  display: flex;
  flex-wrap: wrap;
  max-width: 400px;
  padding: 10px 0;
}

.blog .tags.center {
  justify-content: center;
  margin: 0 auto;
}

.blog svg {
  cursor: pointer;
  position: absolute;
}

.blog small {
  color: #999;
  cursor: pointer;
  line-height: 2;
  margin-right: 10px;
}

.blog input {
  background-color: transparent;
  border-bottom: 1px solid #999;
  border-radius: 0;
  color: #666;
  font-size: 1em;
  margin-top: 15px;
  padding-bottom: 5px;
  text-indent: 20px;
  width: 100%;
}

.blog input::placeholder {
  color: #999;
}

.blog .input-bar {
  position: relative;
}

.blog .input-bar svg {
  bottom: 3px;
  right: 15px;
}

@media screen and (min-width: 768px) {
  .blog {
    min-height: calc(100vh - 77px - 172px);
  }
}
