.call {
	background: url("../../assets/img/banner/bg-call.jpg") no-repeat center;
	background-size:cover; 
	color: #fff;
	font-family: 'Century Gothic';
}

.call p {
	font-style: italic;
	line-height: 1.2;
	margin-bottom: 10px;
	text-align: center;
}

.call small {
	align-self: flex-end;
	font-size: 12px;
}

@media only screen and (min-width: 768px) {
	.contato.secao p {
		max-width: 620px;
	}
}

@media only screen and (min-width: 959.8px) {
	.contato.secao p {
		max-width: 800px;
	}
}