.secao:nth-of-type(2n){
	background-color: #fee;
}

.call {
	background: url("../../assets/img/banner/bg-call.jpg") no-repeat center;
	background-size:cover; 
	padding: 10px 20px;
}

.call p {
	color: #fff;
	font-size: 12px;
	font-family: 'Century Gothic';
	font-style: italic;
	text-align: center;
}

.call cite {
	color: #fff;
	font-size: 11px;
}