.home .secao:nth-of-type(2n){
	background-color: #fee;
}

@media only screen and (min-width: 959.8px) {
	.home .content {
		display: flex;
		max-width: 100%;
	}

	.content .secao {
		width: 25%;
	}

	.content .flex-column {
		height: 100vh;
		justify-content: center;
	}

}