.secao.home img {
	cursor: pointer;
}

@media only screen and (min-width: 959.8px) {
	.home .content {
		display: flex;
		max-width: 100%;
	}

	.secao.home {
		width: 25%;
	}

	.secao.home .container {
		height: 100vh;
		justify-content: center;
	}

}