.email {
  background-color: rgba(160, 220, 110, .1);
}

.email .container {
  align-items: center;
}

.email h3 {
  font-family: 'Gotu', sans-serif;
  font-size: 24px;
  line-height: 1;
  margin-bottom: 20px;
  position: relative;
  text-align: center;
  text-transform: uppercase;
}

.email span {
  color: #666;
  margin-bottom: 20px;
  text-align: center;
}

.email .input-bar {
  position: relative;
}

.email .input-bar input {
  background-color: transparent;
  border-bottom: 2px solid #a4d555;
  border-radius: 0;
  color: #666;
  font-size: 1em;
  margin: 15px auto 0;
  padding-bottom: 3px;
  padding-right: 35px;
  text-indent: 20px;
  width: 250px;
}

.email .input-bar input::placeholder {
  color: #999;
}

.email .input-bar svg {
  bottom: 4.5px;
  cursor: pointer;
  position: absolute;
  right: 0px;
}

@media only screen and (min-width: 768px) {
	.email h3 {
    font-size: 30px;
  }
}
