.header {
	background-color: #a4d555;
}

.header > img {
	border: 3px solid #a4d555;
	margin: 10px;
	padding: 5px;
}

.header nav {
	background-color: #a4d555;
	height: 100%;
	left: -100%;
	padding-top: 30px;
	position: absolute;
	text-align: center;
	transition: left .2s ease-out;
	top: 0;
	width: 100%;
}

.header nav.ativo {
	left: 0%;
}

.header button {
	background: none;
	color: #ffe;
	font-size: 1.5rem;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.header ul > li {
	border-bottom: 1px solid #ffe;
}

.header ul > li:first-child {
	border-top: 1px solid #ffe;
}

.header a {
	color: #ffe;
	display: inline-block;
	font-size: 1.2rem;
	padding: 10px;
}

@media only screen and (min-width: 767.8px) {
	.header > img {
		display: none;
	}

	.header nav {
		align-items: baseline;
		display: flex;
		height: 77px;
		justify-content: space-around;
		left: 0;
		max-width: 1280px;
		padding-top: 0;
		padding-bottom: 3px;
		width: 100%;
	}

	.header button {
		display: none;		
	}

	.header ul > li {
		border: none;
		display: inline-block;
		padding: 0px 10px;
	}

	.header ul > li:first-child {
		border-top: none;
	}

	.header ul a:hover {
		border-bottom: 1px solid #ffe;
	}
	
}