.header {
	background-color: #a4d555;
}

.header nav {
	background-color: #a4d555;
	height: 100%;
	left: -100%;
	padding-top: 30px;
	position: absolute;
	text-align: center;
	transition: left .2s ease-out;
	top: 0;
	width: 100%;
	z-index: 1;
}

.header nav.ativo {
	left: 0%;
}

.header button {
	background: none;
	padding: 10px;
	position: absolute;
	right: 0;
	top: 0;
}

.header ul > li {
	border-bottom: 1px solid #ffe;
	font-family: 'Montserrat', sans-serif;
}

.header ul > li:first-child {
	border-top: 1px solid #ffe;
}

.header a {
	color: #ffe;
	display: inline-block;
	font-size: 1.2rem;
	padding: 10px;
}

@media only screen and (min-width: 768px) {
	.header {
		height: 77px;
		position: relative;
	}

	.header::after {
		background-color: rgba(0, 0, 0, 0.1);
    bottom: -1px;
    height: 1px;
    content: '';
    position: absolute;
    width: 100%;
	}

	.header nav {
		align-items: baseline;
		display: flex;
		height: auto;
		justify-content: space-around;
		left: 0;
		margin: 0 auto;
		max-width: 1280px;
		padding-top: 0;
		position: relative;
		width: 100%;
	}

	.header button {
		display: none;		
	}

	.header ul > li {
		border: none;
		display: inline-block;
		padding: 0px 10px;
	}

	.header ul > li:first-child {
		border-top: none;
	}
	
}