@media only screen and (min-width: 747.8px) {
	.sobre .container {
		flex-direction: row;
		justify-content: space-around;
		max-width: 1280px;
		padding: 60px 0px;
	}

	.secao.sobre .paragraphs {
		max-width: 50%;
	}

	.secao:nth-of-type(even).sobre  .paragraphs {
		order: -1;
	}

	.secao.sobre p {
		align-self: baseline;
	}
}
