.secao {
	padding: 20px 10px;
	text-align: center;
}

.secao img {
	
}

.secao h3 {
	text-align: center;
	text-transform: uppercase;
}

/* .secao p {
} */

.secao .btn {
	background-color: transparent;
	border: 3px solid #4cdef5;
	border-radius: 100px;
	color: #4cdef5;
  	display: block;
	height: 40px;
	margin: 10px auto;
	line-height: 40px;
	text-transform: uppercase;
	width: 200px;
}