.footer {
  background-color: #a4d555;
}

.footer h1 {
  color: #ffd;
  font-size: 18px;
  font-family: 'Gotu', sans-serif;
  margin-bottom: 20px;
  letter-spacing: 1.5px;
  text-align: center;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
  text-transform: uppercase;
}

.footer h1::after {
  background-color: #ffd;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, .25);
  content: '';
  display: block;
  height: 1px;
  margin: 5px auto 0;
  width: 90%;
}

.footer-bottom {
  font-family: 'Montserrat';
  font-size: 10px;
  letter-spacing: 3px;
  padding: 5px 20px;
  text-align: center;
}
