.footer {
    background-color: #a4d555;
    padding-top: 30px;
    padding-bottom: 10px;
    text-align: center;
}

.footer ul {
    margin-bottom: 30px;
}

.footer h3 {
    margin-bottom: 1rem;
    text-transform: uppercase;
}

.footer a {
    display: inline-block;
    padding: 10px;
}